<strong>Olá, {{ name }}</strong>
<p>Seu cadastro foi realizado com sucesso.</p>
<p>
  <strong>Nome: </strong> {{ name }} <br />
  <strong>Email: </strong> {{ email }} <br />
  <strong>Data/Hora: </strong> {{ date }} <br />
  <br />
</p>
